<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sigmabeta.chipbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For Crashlytics -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".RemasterApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

    </application>

</manifest>
