<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sigmabeta.chipbox.services">

    <application>
        <service android:name=".ChipboxPlaybackService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
    </application>
</manifest>
