<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sigmabeta.chipbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- In order to be able to stop playback when phone calls happen. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".ChipboxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeSuperNES">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.FileListActivity"/>
        <activity android:name=".view.activity.NavigationActivity"/>
        <activity android:name=".view.activity.PlayerActivity"/>

        <service
            android:name=".backend.PlayerService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>
