<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sigmabeta.chipbox.activities">
    <application>
        <activity android:name="net.sigmabeta.chipbox.activities.RemasterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
